.Order{
    width: 80%;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    padding: 10px;
    margin: 10px auto;
    box-sizing: border-box;
    margin-top: 20px;
}

.ing{
    text-transform: capitalize;
    display: inline;
    margin: 0 8px;
    border: 1px solid #ccc;
    padding: 5px;
}

@media (max-width: 520px) {
    .ing{
        text-transform: capitalize;
        display: block;
        margin: 10px 8px;
        border: 1px solid #ccc;
        padding: 5px;

    }
}
